.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures

*.apk
*.ap_
*.dex
*.class
bin/
gen/
.classpath
.project
proguard/
*.iml
*.ipr
*.iws
.idea/tasks.xml
app/build/
.DS_Store
